body {
  padding: 25px;
}
.page {
  background-color: transparent;
  background-image: url(../media/professional-background.jpg);
}
.top-bar {
  border-radius: 10px;
  background-color: transparent;
  border-color: #efefef;
}
.title {
  padding-top: 250px;
  font-size: 60px;
  font-weight: bold;
}
.coding-icons {
  padding-top: 10px;
}
.socials {
  border-radius: 20px;
  font-weight: bold;
  font-size: 25px;
  padding: 0px 22px;
  background-color: transparent;
  border-color: #efefef;
}
.fa-brands.fa-linkedin {
  font-size: 40px;
}
.fa-brands.fa-github {
  font-size: 40px;
}
.intro {
  font-size: 30px;
}
.contact-section {
  padding-bottom: 50px;
}
.fa-brands {
  padding: 7px;
}
.fa-brands.fa-html5 {
  font-size: 30px;
}
.fa-brands.fa-css3-alt {
  font-size: 30px;
}
.fa-brands.fa-js {
  font-size: 30px;
}
.fa-brands.fa-square-git {
  font-size: 30px;
}
.fa-brands.fa-square-github {
  font-size: 30px;
}
