body {
  padding: 25px;
  font-family: "Lato", sans-serif;
}
ul {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  opacity: 0.5;
}
footer {
  padding-top: 10px;
  border-top: 2px solid #000000;
}
button {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  border-color: #e8e9ec;
}
button:hover {
  opacity: 0.7;
}
.nav {
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
}
.nav-content {
  padding-right: 40px;
}
.memoji {
  border-radius: 40px;
}
.main-wrap {
  margin-top: 150px;
  margin-bottom: 150px;
}
.title {
  font-size: 40px;
  font-weight: 650;
}
.name {
  font-size: 60px;
  font-weight: 900;
}
.intro {
  font-size: 17px;
}
.contact-button {
  margin-top: 50px;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
}
.card {
  margin: 30px;
  border: 2px solid #dceef9;
}
.skills-title {
  padding-bottom: 40px;
  font-size: 60px;
  text-align: center;
}
.row-project {
  margin-top: 30px;
  margin-bottom: 80px;
  border: 2px solid #dceef9;
  border-radius: 10px;
  padding: 25px;
}
.project-title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 60px;
  text-align: center;
}
.project-link {
  text-decoration: none;
}
#details {
  font-size: 25px;
}
