body {
  padding: 25px;
  /* background-color: #fadde1; */
  background-color: rgba(250, 221, 225, 0.5);
}

main {
  background-color: rgba(250, 221, 225, 0.5);
  border-radius: 5px;
  opacity: 0.7;
}
footer {
  opacity: 0.7;
}
p {
  padding-top: 10px;
  margin: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: black;
}
.container.text-center {
  padding-bottom: 20px;
}
.top-bar {
  border-radius: 10px;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #8d8185;
}
.title {
  padding-top: 210px;
  font-size: 30px;
  font-weight: bold;
}
.name {
  font-size: 60px;
  font-weight: bold;
}
.coding-icons {
  padding-top: 10px;
}

.fa-brands.fa-linkedin {
  font-size: 40px;
}
.fa-brands.fa-github {
  font-size: 40px;
}
.intro {
  font-size: 19px;
}
.contact-section {
  padding-bottom: 30px;
  padding-top: 25px;
}
.fa-brands {
  padding: 7px;
}
.fa-brands.fa-html5 {
  font-size: 30px;
}
.fa-brands.fa-css3-alt {
  font-size: 30px;
}
.fa-brands.fa-js {
  font-size: 30px;
}
.fa-brands.fa-square-git {
  font-size: 30px;
}
.fa-brands.fa-square-github {
  font-size: 30px;
}
.fa-brands.fa-react.fa-spin {
  font-size: 30px;
}
.fa-brands.fa-node {
  font-size: 30px;
}
